{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

<div class="container text-indigo py-2 text-justify">
    <hr />
    <div class="d-flex fex-row">
        <h3 class="py-3"><strong>{{ course.name }}</strong></h3>
    </div>
    <h6>Note: Ensure to complete each task before marking as completed!</h6>
    <hr />
    
    {% for level in structured_content %}
            <div class="my-3 py-3">
            <hr />
            <h4 class="my-4">{{ level.level_name }}</h4>
            <hr />
            <div>
            {% for module in level.modules %}
                <h5 class="mt-4">{{ forloop.counter }}. {{ module.module_name }}</h5>
                <ul class="mt-3">
                    {% for task in module.tasks %}
                        <li>
                            <div class="mb-3">
                                <p>
                                    <strong>{{ task.task_name }}</strong>
                                </p>
                                <p>{{ task.description }}</p>
                                {% if task.link %}
                                        <a type="button" href="{{ task.link }}" class="btn btn-lg btn-light btn-outline-indigo rounded-pill"><h6>{{ task.link_name }}</h6></a>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <hr />
            {% endfor %}
            </div>
            </div>
        {% endfor %}
</div>

{% endblock %}
