{% extends 'base.html' %}

{% block content %}

<div class="container text-indigo py-2">
    <hr />
    <h3 class="py-3"><strong>Learning Paths</strong></h3>
    <hr />
    <div class="row mb-5">
        {% for course in courses %}
        <div class="col-lg-4 mb-3">
            <a href="{% url 'course_detail' course.id %}" style="text-decoration: none;">
                <div class="card h-100" style="width:100%">
                    <img class="card-img-top" src="{{ course.picture.url }}" alt="Card image"
                        style="width:100%; aspect-ratio: 10/7;">
                    <div class="card-body">
                        <h4 class="card-title">{{ course.name }}</h4>
                        <p class="card-text">{{ course.description }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}